@model EcomSiteMVC.Models.Entities.Product

@{
	ViewData["Title"] = @Model.ProductName;
}

<style>
	.product-detail-container {
		border: 2px solid red;
	}

	.right-div {
		padding: 2rem;
	}

	.left-div, .right-div {
		border: 2px solid black;
	}
</style>

<div class="product-detail-container d-flex justify-content-evenly">
	<div class="left-div w-50">
		<div class="image-container">
			<div class="col-2">
				@foreach (var image in Model.Images)
				{
					var imageUrl = image.ImageUrl;
					<img src="@imageUrl" alt="@Model.ProductName" />
				}
			</div>
		</div>
	</div>

	<div class="right-div w-50">
		<h2>@Model.ProductName</h2>
		<p>@Model.Description</p>
		<p><strong>Price: $@Model.Price</strong></p>

		<form method="post" action="@Url.Action("AddToCart", "Cart")">
			<input type="hidden" name="productId" value="@Model.ProductId" />

			<div class="form-group">
				<label for="quantity">Quantity</label>
				<input type="number" id="Quantity" name="Quantity" class="form-control" value="1" min="1" />
			</div>

			<div class="mt-3">
				<button type="submit" class="btn btn-primary">Add to Cart</button>
				<button type="submit" formaction="@Url.Action("BuyNow", "Cart")" class="btn btn-success">Buy Now</button>
			</div>
		</form>
	</div>
</div>
